@charset "UTF-8";
:root {
  color: oklch(0.32 0 0);
  --color-border-gray: oklch(0.8 0.032 261.325);
  --color-background: oklch(1 0 0);
  --color-primary-main: #407eb9;
  --color-primary-light: #ebf5fc;
  --color-primary-text: white;
  --color-primary: 222 100% 60%; /* fallback HSL */
  --color-primary-foreground: 0 0% 100%;
  --color-kaizen-cool-main: #175793;
  --color-kaizen-cool-light: #ebf5fb;
  --color-kaizen-warm-main: #c28f0e;
  --color-kaizen-warm-light: #fffacf;
  --color-white: oklch(1 0 0);
  --color-blue-main: oklch(0.6 0.1117 249.3);
  --color-blue-light: oklch(0.85 0.07 250);
  --color-green-main: oklch(0.5 0.2 125);
  --color-green-light: oklch(0.95 0.05 145);
  --color-sub-main: oklch(0.39 0.01 100);
  --color-sub-light: oklch(0.95 0.01 80);
  --color-error-main: oklch(0.5 0.3 45);
  --color-error-light: oklch(0.85 0.1 25);
  --color-orange-main: oklch(0.65 0.2 60);
  --color-orange-light: oklch(0.9 0.07 50);
  --color-yellow-main: oklch(0.75 0.2 90);
  --color-yellow-light: oklch(0.95 0.08 85);
  --color-control-bg: oklch(0.94 0 0);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}

.dark {
  --color-background: oklch(0.71 0 17.19);
  --color-primary-text: black;
}

@theme {
  --color-border-gray: var(--color-border-gray);
  --color-background: var(--color-background);
  --color-primary-main: var(--color-primary-main);
  --color-primary-light: var(--color-primary-light);
  --color-primary-text: var(--color-primary-text);
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-kaizen-cool-main: var(--color-kaizen-cool-main);
  --color-kaizen-cool-light: var(--color-kaizen-cool-light);
  --color-kaizen-warm-main: var(--color-kaizen-warm-main);
  --color-kaizen-warm-light: var(--color-kaizen-warm-light);
  --color-white: var(--color-white);
  --color-blue-main: var(--color-blue-main);
  --color-blue-light: var(--color-blue-light);
  --color-green-main: var(--color-green-main);
  --color-green-light: var(--color-green-light);
  --color-sub-main: var(--color-sub-main);
  --color-sub-light: var(--color-sub-light);
  --color-error-main: var(--color-error-main);
  --color-error-light: var(--color-error-light);
  --color-orange-main: var(--color-orange-main);
  --color-orange-light: var(--color-orange-light);
  --color-yellow-main: var(--color-yellow-main);
  --color-yellow-light: var(--color-yellow-light);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}
@layer base {
  :root {
    --shadow-sm: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    --shadow-none: 0 0 #0000;
  }
  /* スクロールバースタイル */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #bbbbbb;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #4d4d4d;
  }
  html {
    scroll-behavior: smooth !important;
  }
  * {
    border-color: var(--color-border-gray);
    --tw-ring-color: var(--color-ring-gray);
  }
}
@layer components {
  .myRadio label {
    cursor: pointer;
    position: relative;
    margin-left: 10px;
    padding-left: 50px;
  }
  .myRadio label::before,
  .myRadio label::after {
    background-color: #ddd;
    border-radius: 50%;
    transition: 0.3s;
    transform: translateY(-50%);
    top: 50%;
    left: 0px;
  }
  .myRadio label::before {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    height: 20px;
    width: 40px;
    left: 5px;
  }
  .myRadio label::after {
    background-color: #ddd;
    border-radius: 50%;
    opacity: 1;
    height: 22px;
    width: 22px;
    left: 0px;
  }
  .myRadio input:checked + label::before {
    background-color: var(--color-primary-main);
  }
  .myRadio input:checked + label::after {
    left: 27px;
  }
  .control-border {
    border-width: 1px;
    border-radius: var(--radius-md);
    border-color: var(--color-gray-300);
    padding-left: 0.5rem;
    min-width: 100px;
  }
  .myFormControl {
    display: block;
    width: 100%;
    background-color: var(--color-);
    padding-top: 0.3rem; /* p-1 */
    padding-bottom: 0.3rem;
    padding-left: 0.5rem; /* px-2 */
    padding-right: 0.5rem;
    border-width: 1px;
    border-radius: var(--radius-md);
    border-color: var(--color-gray-300);
    line-height: 1.5rem; /* smの行間も合わせるなら */
    font-size: 18px !important;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  .myFormControl:hover {
    cursor: text;
    border-color: var(--color-blue-600) !important;
    box-shadow: var(--shadow-md);
  }
  .myFormControl:disabled {
    border: none;
    background-color: var(--color-gray-200) !important;
    cursor: not-allowed;
    opacity: 0.7;
  }
  .table-wrapper {
    padding: 0;
    border-radius: var(--radius-md);
    overflow: auto;
    white-space: normal;
    border: 1px solid var(--color-gray-300);
  }
  .table-wrapper table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
  }
  .table-wrapper table thead,
  .table-wrapper table tfoot {
    position: sticky;
    top: 0;
  }
  .table-wrapper table td {
    border-bottom-width: 0.5px;
    border-left-width: 0;
    border-right-width: 0;
    border-color: var(--color-gray-400);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .table-wrapper table th {
    border-bottom-width: 0.5px;
    border-left-width: 0;
    border-right-width: 0;
    border-color: var(--color-gray-400);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--color-gray-600);
    font-weight: bolder;
    text-align: start;
  }
  .table-wrapper table thead {
    z-index: 20 !important;
  }
  .table-wrapper table thead tr:first-child th:first-child {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 30;
  }
  .table-wrapper table thead th,
  .table-wrapper table thead td {
    z-index: 100;
    background-color: #f8f8f8;
    color: var(--color-gray-800);
    border-color: var(--color-gray-500);
    border-bottom-width: 1px;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
  }
  .table-wrapper table tbody tr th,
  .table-wrapper table tbody tr td:first-child {
    background-color: white;
    position: sticky;
    z-index: 10;
    left: 0;
  }
  tr .table-wrapper table tbody:last-child td {
    border-bottom-width: 0px;
  }
  tr .table-wrapper table tbody:last-child th {
    border-bottom-width: 0px;
  }
  .table-wrapper table tfoot {
    z-index: 100;
    position: sticky;
    bottom: 0;
  }
  .t-paper {
    background-color: var(--color-background);
    border-radius: var(--radius-lg);
    border-width: 0.5px;
    border-color: var(--color-gray-200);
    padding: 0.75rem;
    box-shadow: var(--shadow-md);
  }
  .col-stack {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .row-stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.75rem;
  }
  .row-stack.breadcrumbs span:not(:last-child)::after {
    content: " >";
  }
  .disabled {
    cursor: not-allowed;
    opacity: 0.7;
    pointer-events: none;
  }
  button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
  .t-btn {
    color: white;
    background-color: var(--color-sub-main);
    border-radius: var(--radius-sm);
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 200ms;
  }
  .t-btn:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
  .t-btn:hover {
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5) !important;
  }
  .icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.125rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    cursor: pointer;
    background-color: var(--color-gray-100);
    font-size: var(--font-size-sm);
    color: var(--color-sub-main);
    border-radius: 0.125rem;
    font-weight: var(--font-weight-bold);
    box-shadow: var(--shadow-md);
  }
  .t-link {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: rgb(36, 142, 255);
    cursor: pointer;
  }
  .onHover {
    cursor: pointer;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 200ms;
    transition-property: all;
  }
  .onHover:hover {
    opacity: 0.5;
  }
  .vertical {
    writing-mode: vertical-lr;
    text-align: center;
  }
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .center-x {
    left: 50%;
    transform: translateX(-50%);
  }
  .center-y {
    top: 50%;
    transform: translateY(-50%);
  }
  .center-x-y {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .qr-sheet table {
    border: 1px solid var(--color-sub-main);
    white-space: normal;
  }
  .qr-sheet table td:nth-child(odd) {
    background-color: var(--color-sub-light);
  }
  .recharts-tooltip-wrapper {
    background-color: var(--color-gray-50);
    box-shadow: var(--shadow-lg);
  }
  .react-markdown h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .react-markdown h2 {
    font-size: 1.25rem;
    font-weight: 700;
  }
  .react-markdown h3 {
    font-size: 1.125rem;
    font-weight: 700;
  }
  .react-markdown ol li {
    list-style-type: decimal;
  }
  .react-markdown ul li {
    list-style-type: disc;
  }
  .react-markdown li {
    margin-left: 40px;
  }
  .react-markdown a {
    text-underline-offset: 4px;
    color: rgb(36, 142, 255);
    cursor: pointer;
  }
  .drawer {
    position: fixed;
    left: -100%;
    top: 0;
    width: 80vw;
    max-width: 300px;
    height: 100vh;
    overflow-x: hidden;
    transition: left 0.2s ease-in-out;
    z-index: 9999;
  }
  .drawer.open {
    left: 0;
  }
}
@layer utilities {
  .gradient-base {
    background: linear-gradient(135deg, var(--color-gray-200), var(--color-gray-50)) !important;
    border: 1px solid var(--color-gray-200);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-md);
    padding: 1rem;
  }
  small {
    color: var(--color-gray-500);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-up {
  animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideUpWithBounce {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
  60% {
    transform: translateY(-10%);
  }
  80% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0);
  }
}
.slide-up-bounce {
  animation: slideUpWithBounce 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

@media print {
  .page-break {
    page-break-before: always;
  }
  body * {
    visibility: hidden;
  }
  .print-section {
    margin: 10px auto;
    padding: 10px;
    page-break-before: always;
  }
  .print-target,
  .print-target * {
    box-shadow: none;
    visibility: visible;
    -moz-column-break-before: avoid;
         break-before: avoid;
    -moz-column-break-after: avoid;
         break-after: avoid;
    -moz-column-break-inside: avoid;
         break-inside: avoid;
  }
  .print-target {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
@media print {
  @page {
    margin: 0; /* ページ余白をゼロに設定 */
  }
  body {
    margin: 0; /* コンテンツの余白も調整 */
  }
}/*# sourceMappingURL=integrated.css.map */